{% extends "base.html" %}

{% block title %}Détail{% endblock %}

{% block content %}

<h2>{{ element.reference }}</h2>

<div class="detail">

    <p>
        {{ element.titre }}
    </p>

    <p>
        <strong>origine :</strong>
        {{ element. origine}}<br>
                <strong>gravite :</strong>
        {{ element. gravite}}<br>
                <strong>traitement :</strong>
        {{ element.traitement}}<br>
                <strong>demandeur :</strong>
        {{ element.demandeur}}<br>
                <strong>symptome :</strong>
        {{ element.symptome}};
        
    </p>

</div>

<a href="{{ url_for('index') }}">
    ← Retour à la liste
</a>

{% endblock %}