{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<!--donnée pour le compteur de ticket*/-->

{% set total = donnees|length %}
{% set en_cours = donnees | selectattr("statut", "equalto", "En cours") | list | length %}
{% set resolu = donnees | selectattr("statut", "equalto", "Résolu") | list | length %}
{% set attente = donnees | selectattr("statut", "equalto", "En attente") | list | length %}

<h2>Liste des éléments</h2>

<p>
    Cette page présente les informations disponibles
    dans l'application.
</p>

<div class="compteur">
    <h3>Compteur des tickets</h3>

    <div class="stat total">
        <span>Total des tickets</span>
        <strong>{{ total }}</strong> 
    </div>
    <div class="stat encours">
        <span>En cours</span>
        <strong>{{ en_cours }}</strong>
    </div>

    <div class="stat resolu">
        <span>Résolus</span>
        <strong>{{ resolu }}</strong>
    </div>

    <div class="stat attente">
        <span>En attente</span>
        <strong>{{ attente }}</strong>
    </div>
    <!--Calcul trouvé sur microsoft fabric community-->
<div class="liste">

    {% for element in donnees %}

    <article class="carte">

        <h3>{{ element.id }}</h3>

        <p>{{ element.numeroTicket }}</p>

        <a href="{{ url_for('detail', id=element.id) }}">
            Voir le détail
        </a>

    </article>

    {% endfor %}

</div>

{% endblock %}
